.scrollbar {
	scrollbar-color: var(--color-primary0) var(--color-primary50);
	scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--color-primary0);
}

.scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: var(--color-primary0);
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--color-primary50);
}
